// Define variables for your color scheme

// For example:
$red: #FD1015;
$dark_red: #ad0c0e;
$blue: #087afc;
$yellow: #FDC400;
$dark_yellow: #d8a600;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: white;
