// Specific CSS for your home-page
// HOME PAGE STYLE

// TABLE OF CONTENTS
// 1. BANNER
// 2. HOW IT WORKS
// 3. FOOTER
// -----------------------------


// 1. BANNER

.banner-row {
    padding: 15vh 0 20vh 0;

}

h1,
h3 {
    font-weight: 900;
    line-height: 1em;
}

h5 {
    font-weight: 700;
}



// HOW IT WORKS

.how-it-works {
    justify-content: center;
    text-align: center;
}

.images-card {
    height: 80px;
    display: flex;
    align-self: center;
}

.card {
    border: none;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s all;
    cursor: pointer;
    transform: scale(1);
    &:hover {
    transform: scale(1.01);
    }
}


// FOOTER

.footer {
    background: #F4F4F4;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }