// Specific CSS for your home-page
// HOME PAGE STYLE

// TABLE OF CONTENTS
// 1. BANNER
// 2. HOW IT WORKS
// 3. FOOTER <= FOOTER MOVED TO app/assets/stylesheets/components/_footer.scss
// -----------------------------


// 1. BANNER

.banner-row {
    padding: 12vh 0 2vh 0;

}

h1,
h3, h4 {
    font-weight: 700;
    line-height: 1em;
}

h5 {
    font-weight: 700;
}


// 2. HOW IT WORKS

.how-it-works {
    padding-top: 20vh;
    text-align: center;
    p {
        opacity: 0.7;
        font-size: 15px;
    }
}

.images-card {
    height: 80px;
    display: flex;
    align-self: center;
}

.card, .card-booking {
    border: none;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s all;
    // cursor: pointer;
    transform: scale(1);
    // &:hover {
    // transform: scale(1.01);
    // }
}
.speech-bubble {
    max-width: 310px;
	position: relative;
	background: #f9f9f9;
	border-radius: 4px;
    padding: 1em;
    margin: 10px;

    p {
    opacity: 0.7;
    font-size: 14px;
    }
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #f8f8f8;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

