<div class="container mt-5">
    <div class="row banner-row d-flex flex-row align-items-center justify-content-center">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <%= image_tag "lego-banner.jpg", class: 'w-100' %>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 banner-text">
            <h1>100 PIECES</h1>
            <H1>100% fun</H1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat in provident odit quidem facere
                quibusdam eveniet corrupti ullam veritatis?</p>
            <button class="btn btn-danger">Get started</button>
        </div>
    </div>
</div>



<div class="container how-it-works my-5">
    <h3 class="mb-4">HOW IT WORKS</h3>
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-md-5 col-lg-3 col-sm-12 m-1 card p-3 rounded justify-content-center">
            <h5 class="p-3">Choose a Lego</h5>
            <%= image_tag "choice.svg", class: 'images-card' %>
            <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.voluptates uidem maiores assumenda
                aut velit.</p>
        </div>
        <div class="col-md-5 col-lg-3 col-sm-12 m-1 card p-3 rounded justify-content-center">
            <h5 class="p-3">Make a booking</h5>
            <%= image_tag "booking.svg", class: 'images-card' %>
            <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.voluptates uidem maiores assumenda
                aut velit.</p>
        </div>
        <div class="col-md-5 col-lg-3 col-sm-12 m-1 card p-3 rounded justify-content-center">
            <h5 class="p-3">Build it!</h5>
            <%= image_tag "build.svg", class: 'images-card' %>
            <p class="p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.voluptates uidem maiores assumenda
                aut velit.</p>
        </div>
    </div>
</div>

<footer class="mt-5 d-flex justify-content-center">
    <ul class="py-3 py-0 d-inline-flex">
        <li><i class="fab fa-facebook-square pr-4"></i></li>
        <li><i class="fab fa-instagram pr-4"></i></li>
        <li><i class="fab fa-twitter"></i></li>
    </ul>
</footer>