.card-upstanding-booking {
    height: 180px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: 0.3s all;
    transform: scale(1);
  }

  .card-upstanding-booking img {
    max-width: 300px;
    height: 100%;
    object-fit: cover;
  }


  .card-upstanding-booking p {
    font-size: 14px;
    opacity: .7;
    line-height: 0.8em;
  }



.nav-tabs .active {
color: red !important;

}
.nav-tabs a {
color: rgb(59, 59, 59);
}