.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.logo-nav {
  font-family: $headers-font;
  color: $red;
  font-size: 900;
}