.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  transition: 0.6s;
  padding: 0.5em 2em;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.logo-nav {
  font-family: $headers-font;
  color: $red;
  // background: -webkit-linear-gradient(45deg, $red, $yellow);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  font-size: 900;
  font-weight: bolder;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $red;
    // background: -webkit-linear-gradient(45deg, $yellow, $red);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}


