.form-btn {
  background-color: #FD1015;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.form-new {
  width: 70%;
  margin: auto;
}

.form-header {
  font-size: 36px;
  text-align: center;
}
