.showcard {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 400px;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }

  .show-image {
    width: 50%;
    object-fit: cover;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
}
.details-show {
  display: flex;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}
.details-show-price {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
.details-show-icons {
  position: absolute;
  top: 24px;
  right: 24px; 
  i {
    color: $red;
    font-size: 20px;
    &:hover {
      color: $yellow;
    }
  }
}
.description-show {
  min-height: 150px;
  @media screen and (max-width: 1000px) {
    min-height: 0;
  }
}
