.show {
    display: flex;
    flex-direction: row;
    height: 300px;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
  }
  
  .show-image {
    width: 50%;
    object-fit: cover;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
}
.details-show-text {
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
}
.description-show {
  min-height: 150px;
  @media screen and (max-width: 1000px) {
    min-height: 0;
  }
}
